.cart{
    position: sticky;
    top: 25px;
}
.cart-heading{
    text-align: center;
    font-size: 25px;
    margin-top: 0px;
    font-weight: 500;
}
.grand-total{
    font-size: 18px;
    font-weight: 500;
}

.cart-container{
    background-color: rgba(255, 153, 0, 0.3);
    padding: 20px;
    margin-right: 0;
}
.cart button{
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 5px;
    margin-top: 16px;
    cursor: pointer;
}
.clear-btn{
    background-color: #FF3030;
    color: white;
}
.review-btn{
    background-color: #FF9900;
    display: flex;
    align-items: center;
    justify-content: center;
}
.review-btn a{
    text-decoration: none;
    color: white;
}