.header{
    background-color: #1C2B35;
}
.header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    height: 80px;
    margin: 0px auto;
}
.header a{
    text-decoration: none;
    color: white;
    margin-left: 36px;
    font-size: 17px;
}
.header a:hover{
    color: rgb(255, 166, 0);
}
@media screen and (max-width: 592px) {
    .header{
        padding: 0px 10px;
    }
    .header nav{
        width: 100%;
    }
    .header a{
        margin-left: 20px;
    }
}